/* Ryan Smart
 September 19 2024 */

 body {
    color: #333333;
    font-size: 20px;
    padding: 30px;
 }

 a {
    color: darkred;
 }
 a:hover {
    color: lightcoral;
 }

 .intro{
    font-size: 24px;
    color: darkblue;
 }