/* css used to target all portfolio web pages */
/* applies to all web pages to promote consistency       */
    @import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
    @font-face {
        font-family: 'quicksand';
        src: url(../fonts/quicksand-italic-webfont.woff) format('woff'),
                url(../fonts/quicksand-regular-webfont.woff2) format('woff2');
            
    }
    body {
       
        color: #000000;
        font-size: 1.25rem;
        background: linear-gradient(maroon, #00FFFF)
    }

    #banner {
        background-color: maroon;
    }

    a:link {
        color: #0047AB;
    }

    a:visited {
        color: #00FFFF;
    }

    a:hover {
        color: #000000;
    }

    a:active {
        color: orchid;
    }

    .pricing {
        width: 90%;
        margin: 0 auto;
    }

    .pricebox {
        background: #FFFFFF;
        border: 2px solid #000000;
        margin: 2px;
        margin-bottom: 30px;
        text-align: center;
        width: 31%;
    }

    .pricebox h3 {
        margin: 10px;
        
    }

    .pricebox h4.price {
        background: maroon; 
        color: #FFFFFF;
        padding: 15px;
        border: 1px solid #000000; 
    }

    .pricebox ul {
        margin: 0;
        padding: 0;
        border: 1px solid #000000;
    }

    .pricebox ul li {
        list-style-type: none;
        border-top: 1px solid #000000;
        border-bottom: 1px solid #000000;
        margin: 0;
        padding: 8px;
    }

    .pricebox ul li:nth-child(even) {
        background: #0047AB;
        color: #FFFFFF;
        border: 1px solid #000000;

    }

    .pricebox p {
        font-weight: bold;
        
    }

    .pricebox a.button {
        display: block;
        width: 40%;
        margin: 10px auto;
        color: #FFFFFF;
        background: maroon;
        text-align: center;
        font-weight: bold;
        text-decoration: none;
        border-radius: 15px;
        padding: 20px;
    }

    div.pricebox:nth-of-type(2) h4.price,
    div.pricebox:nth-of-type(2) a.button {
        background: #800000;
    }

    div.pricebox:nth-of-type(2) ul li:nth-child(even) {
        background: #0047AB;
    }

    #imagec{
        margin: auto;
        padding-left: 700px;
        padding-bottom: 5px;
        
    }
    .barlow-regular {
        font-family: "Barlow", sans-serif;
        font-weight: 400;
        font-style: normal;
      }
    #footer {
        margin-top: 800px;
    }

   